@tailwind base;
@tailwind components;

body {
  @apply bg-primary-1;
}

.container-cards {
  max-height: 575px;
  height: 575px;
  @apply flex flex-wrap content-start w-full p-2 mt-4 overflow-y-scroll shadow-inner md:p-4 bg-primary-2;
}
.cover-card {
  max-height: 100px;
  min-height: 110px;
  @apply flex items-center justify-center w-1/3 p-1 sm:p-2 md:p-4 md:w-1/6 xl:w-1/10 bg-primary-2;
}

.cover-card .card {
  max-width: 100px;
  min-width: 100px;
  height: 100px;
  @apply flex items-center justify-center text-xl font-medium text-white shadow bg-primary-1 rounded-md;
}

.cover-card .card.selected {
  @apply border-2 border-blue-500;
}

.btn {
  min-width: 100px;
  min-height: 36px;
  @apply text-white rounded-lg disabled:opacity-50 focus:outline-none;
}

.input {
  @apply w-full p-2 text-sm border rounded-md focus:outline-none;
}

@tailwind utilities;
